.card_container{
    background-color:black;
    border-radius:4%;
    border:8px solid rgb(184, 59, 136);
    padding:20px;
    width:300px;
    margin:20px;

}
p{
    color:thistle;
}
.grade_font{
    font-size:48px;
}

button{
    background-color: thistle;
    color:black;
}